/**
 * @author Hakim El Hattab
 */


/*********************************************
 * GLOBAL STYLES
 *********************************************/

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background: #eee;
	color: #eee;
	
	font-family: 'Molengo', Arial, Helvetica, sans-serif;
}

h1 {
	color: purple;
	font-size: 60px;
	margin: 20px;
	font-weight: bold;
}

/*********************************************
 * EXPERIMENTS HEADER
 *********************************************/

a {
	color: rgb(220,200,150);
}

header {
	padding: 10px 0;
	z-index: 999;
	
	height: 200px;
	width: 100%;
	background-color: white;
	opacity: 1;
}

header>div {
	float: right;
	margin-right: 10px;
}

header div.facebook-button {
	top: 1px;
}

header a {
	float: left;
	font-size: 20px;
	color: purple;
	margin-left: 20px;
	font-weight: bold;
	text-decoration: none;
}

/*********************************************
 * CONTENTS
 *********************************************/

#fof {
	margin-top: 40px;
	text-align: center;
}





